.container {
  display: grid;
  grid-template-columns: 230px auto;
  grid-template-rows: 46px auto;
  height: 100%;
}

.userArea {
  background-color: var(--background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

